body {
    padding: 0px;
    margin: 0px;
}

.whole {
    background: #dadae5; /* Old browsers */
    background: -moz-linear-gradient(top,  #dadae5 0%, #c3c3cc 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#dadae5), color-stop(100%,#c3c3cc)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #dadae5 0%,#c3c3cc 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #dadae5 0%,#c3c3cc 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #dadae5 0%,#c3c3cc 100%); /* IE10+ */
    background: linear-gradient(to bottom,  #dadae5 0%,#c3c3cc 100%); /* W3C */
	padding: 0;
	margin: 0;
}

.tabnav {
	padding: 4px;
    color: #FFF;
    background: #999999; /* Old browsers */
    background: -moz-linear-gradient(top,  #c6c6c6 0%, #aaaaaa 60%, #888888 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#c6c6c6), color-stop(60%,#aaaaaa), color-stop(100%,#888888)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #c6c6c6 0%,#aaaaaa 60%,#888888 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #c6c6c6 0%,#aaaaaa 60%,#888888 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #c6c6c6 0%,#aaaaaa 60%,#888888 100%); /* IE10+ */
    background: linear-gradient(to bottom,  #c6c6c6 0%,#aaaaaa 60%,#888888 100%); /* W3C */
	padding: 0;
	margin: 0 0 10 0;
	border: none;
	border-radius: 0px; 
}  

.tabnav li {  
	display: inline;  
	list-style: none;  
	padding-right: 3px;
}  
  
.tabnav li a {  
	text-decoration: none;  
	padding: 4px 6px;  
	border-top-left-radius: 5px; 
	border-top-right-radius: 5px;
	border-bottom-left-radius: 0px; 
	border-bottom-right-radius: 0px;
}  
  
.tabnav li a.active {
    background: #dadae5; /* Old browsers */
	color: #222;  
	font-weight: bold;  
}

.tabnav li a:hover, .tabnav li.ui-tabs-selected a {  
    background: #dadae5; /* Old browsers */
}  
  
.tabdiv {  
	margin-top: 2px;  
	border: 1px solid #dedbd1;  
	padding: 5px;  
}  
  
.tabdiv li {  
	margin-left: 20px;  
}  
  
.ui-tabs-hide {  
	display: none;  
}

.datelabel {
    color: #333333;
    font-size: 12px;
    font-weight: normal;
    padding: 4px 0 2px 15px;
    text-shadow: -1px 1px #DDDDDD;
}